@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-logo {
      @apply relative flex items-center justify-center h-12 w-12 bg-gray-800 text-white hover:bg-secondary hover:text-white rounded-3xl hover:rounded-2xl transition-all duration-100 ease-linear cursor-pointer;
  }

  .sidebar-icon {
      @apply relative flex items-center justify-center h-12 w-12 bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-2xl transition-all duration-200 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }
  
  .custom-button{
    @apply flex justify-start items-center w-full gap-5 text-[#949ba5] px-3 py-2 rounded-md hover:text-gray-400 hover:bg-[#35373C];
  }
  
  .category-text{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
  }
}